body {
    background-color: lightgray;
}

h1 {
    font-size: xx-large;
    font-weight: bolder;
    color: purple;
    text-decoration: underline;
    margin: 25px;
} 

h2 {
    font-size: x-large;
    font-weight: bold;
    color: violet;
    font-style: italic;
    margin-left: 25px;
}

h3 {
    font-size: large;
    font-weight: bold;
    color: violet;
    font-style: italic;
    margin-left: 25px;
}

p {
    color: teal;
    margin: 25px;
}

ul {
    color: teal;
    list-style-type: circle;
    margin: 20px;
}

ol {
    color: teal;
    list-style-type: square;
    margin: 20px;
}