body {
    background-color: lightgray;
}

h1 {
    font-size: xx-large;
    font-weight: bolder;
    color: purple;
    text-decoration: underline;
    margin: 100px;
} 

h2 {
    font-size: x-large;
    font-weight: bold;
    color: violet;
    font-style: italic;
}

p {
    color: teal;
}
